<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NSFW Detection</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <div class="container">
        <h1>NSFW Detection</h1>

        <div class="upload-section">
            <h2>Upload Image</h2>
            <input type="file" id="imageUpload" accept="image/*">
            <button onclick="uploadFile('image')">Upload Image</button>
        </div>

        <div class="upload-section">
            <h2>Upload Video</h2>
            <input type="file" id="videoUpload" accept="video/*">
            <button onclick="uploadFile('video')">Upload Video</button><p>It will take 30s to check authenticity of video</p>
        </div>

        <div id="message"></div>
    </div>

    <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>
